version: "3.9"

services:
  admin_app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: admin_app_local
    working_dir: /var/www
    volumes:
      - .:/var/www
    env_file:
      - .env
    ports:
      - "8000:8000"
    command: php artisan serve --host=0.0.0.0 --port=8000